<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/index.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div>
      <H1> To-Do List</H1>
      <textarea name="dis" cols="30" rows="1" id="discription"></textarea>
      <!-- <input type="text" id="discription" placeholder="할 일을 입력하시오." /> -->
      <button id="createBtn">+</button>
    </div>
    <div>
      <button id="updateBtn">수정</button>
    </div>
    <div>
      <button id="deleteBtn">삭제</button>
    </div>
  </body>
</html>
